@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root{
    --primary-color: #1D9BF0;
    --secondary-color:#f2f2f2 ;
    --tertiary-color:#76C1F3;
    --border-color:#e6e6e6;
    --text-grey-color: #8c8c8c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

/* Header section========================= */
header{
    height: 100%;
    width: 30rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1rem;
}

.sidebar ul{
    padding-left: 18rem;
    padding-top: 1rem;
    font-size: 1.4rem;
    list-style: none;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar li {
    padding: 1rem;
    width: 100%;

    display: flex;
    align-items: baseline;
}

li a{
    text-decoration: none;
    color: #000;
}


ul li:hover{
    background-color: var(--border-color);
    border-radius: 2rem;
}

.fa-twitter{
    color: var(--primary-color);
    font-size: 2rem;
    justify-self: flex-end;
}

.tweet-btn{
    margin-top: 1rem;
}
.tweet-btn button{
    background-color: var(--primary-color);
    color: #fff;
    width: 12rem;
    padding:1rem;
    border-radius: 2rem;
    font-weight: bold;
    border: none;
    font-size: 1.4rem;
    
}

.tweet-btn .btn-hidden{
    display: none;
}
ul li img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
ul li span{
    margin-right: 5px;
}
.header-icon i{
    width: 2rem;
}

/* header-user-info */
.user{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
}
.user:hover{
    background-color: var(--border-color);
    border-radius: 2rem;
}
.user .user-name{
    display: flex;
    flex-direction: column;
}
.user img{
    width: 3rem;
    height: 3rem;

}

/* main section=========================================*/
main{
    margin:0 40rem 0 30rem;
    display: flex;
    border-left: 1px solid var(--border-color);
}
.main-content{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.home-title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
}

.home-title h1{
    font-size: 1.4rem;
    
    
}

.home-title span{
    padding: 0 5px;
}

.home-title span:hover{
    background-color: var(--border-color);
    border-radius: 50%;
}

.home-title img{
    width: 2rem;
    height: 2rem;
}

.post img{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.tweet-post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.tweet-post .post{
    display: flex;
}

.tweet-post .post input{
    width: 100%;
    padding: 5px 5px 2rem 5px;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.tweet-post .icons{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    padding: 1rem;
    
}
.icon{
    display: flex;
    gap: 2rem;
}

.icon i{
    color: var(--primary-color);
    padding: 8px;
    transition: all .1s ease-out;
}
.icon i:hover{
    background-color: #cfeafb;
    border-radius: 50%;
}

.icons button{
    border: none;
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    padding: 7px 1rem;
    color: #fff;
    cursor: pointer;
}

/* uset posts----------------------------- */
.user-posts{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.user-posts:hover{
    background-color: var(--secondary-color);
}
.user-posts-img{
   margin-right: 1rem;
}
.user-posts-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.user-posts-content{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
}
.user-info{
    display: flex;
    justify-content: space-between;
}
.user-info .userId{
    color: var(--text-grey-color);
    font-weight: normal;
}
.user-name{
    display: flex;
    gap: 5px;
}
.user-info .user-name p{
    font-weight: 700;
}

.user-info .user-name p:hover{
    text-decoration: underline;
    cursor: pointer;
}


.user-text{
    margin-top: 1rem;
}
.user-text p{
    margin-bottom: 1rem;
}

.user-text img{
    width: 100%;
    border-radius: 1rem;
}
.user-likes{
    display: flex;
    gap: 9rem;
    padding: 1rem 0;
    color: var(--text-grey-color);
}

.user-likes .comment:hover,
.user-likes .download:hover{
    color: var(--primary-color);
}

.user-likes .retweet:hover{
    color: #00e600;
}

.user-likes .heart:hover{
    color: #ff4d6a;
}
/* footer============ */
footer{
    width: 40rem;
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;

    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid var(--border-color);
}

.search-container{
    min-width: 20rem;
    width: 23rem;
    padding: 1rem;
    border-radius: 12rem;
    background-color: var(--border-color);

    display: flex;
}

.search-icon{
    margin-right: 1rem;
}
.search-icon i{
    font-size: 1rem;
}
.search-container input{
    background-color: var(--border-color);
    border: none;
    padding:0 5px;
    outline: none;
}

.search-container input:focus{
    border: none;
    outline: none;
}


/* card============== */
.card{
    min-width: 20rem;
    width: 23rem;

    margin-top: 3rem;
    background-color: #f2f2f2;
    font-size: 1.3rem;
    padding:1rem;
    border-radius: 1rem;
}

.card h3{
    margin-bottom: 1rem;
}
.news{
    margin-bottom: 2rem;
}
.news:hover{
    background-color: var(--border-color);
}

.news .pColor{
    color: var(--text-grey-color);
}

/* second-card ===========*/
.follow-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.follow{
    display: flex;
}

.username:hover{
    text-decoration: underline;
    cursor: pointer;
}

.follow img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 5px;
}

.follow .username{
    display: flex;
    flex-direction: column;
}

.follow-container button{
    background-color: #000;
    color: #fff;
    border-radius: 1rem;
    padding: 5px 1rem;
    cursor: pointer;
}

/* media query ====================================== */
@media screen and (max-width: 1770px){
    header{
        width: 20rem;
    }

    main{
        margin: 0 40rem 0 20rem;
    }

}

@media screen and (max-width: 1600px){
    footer{
        width: 25rem;
    }

    main{
        margin: 0 25rem 0 20rem;
    }

}

@media screen and (max-width: 1366px){
    header{
        width: 10rem;
    }
    main{
        margin-left: 10rem;
    }
    .sidebar a{
        display: none;
    }
    .user{
        padding-right: 2rem;
        margin-top: 3rem;
    }
    .user .user-name,
    .user span{
        display: none;
    }

    .tweet-btn button{
        width: 3rem;
        padding: 1rem; 
    }

    .tweet-btn{
        /* padding-left: 18rem; */
        display: flex;
        align-items: flex-end;
        padding: 1rem; 
    }
    .tweet-btn .btn{
        display: none;
    }
    
    .tweet-btn .btn-hidden{
        display: inline-block;
    }
    
    
}


@media screen and (max-width: 1200px){
    header{
        width: 5rem;
    }
    main{
        margin-left: 5rem;
    }
}

@media screen and (max-width: 1134px){
    footer{
        width: 20rem;
    }
    main{
        margin-right: 20rem;
    }
}

@media screen and (max-width: 1042px){
    footer{
        visibility: hidden;
        width: 10rem;
    }
    main{
        margin-right: 10rem;
        border-right: 1px solid var(--border-color);
    }
}

@media screen and (max-width: 880px){
    footer{
        width: 5rem;
    }
    main{
        margin-right: 5rem;
        border-right: none;
    }
}


@media screen and (max-width: 448px){


    header{
        bottom: 0;
        right: 0;
        height: 4rem;
        width: 100%;
        flex-direction: row;
    }
}



